/* TableFilter 样式 */

.eui-custom-table-filter-wrapper {
    width: 296px;
    background-color: var(--color-bg-4);
    border-radius: var(--radius-base);

    .checkbox-wrapper {
        padding: var(--space-base);
        display: flex;
        flex-direction: column;
        gap: var(--space-base);
    }

    .checkbox-item-wrapper {
        padding-left: var(--space-2x);

        &:hover {
            border-radius: var(--radius-base);
            background-color: var(--color-fill-2);
        }
    }

    .button-wrapper {
        text-align: right;
        padding: var(--space-3x) 0;
    }
}
